

.homepage {
    padding: 0%;
}
.navbar {
    background-color: #111D12;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.content {
    padding-top: 0px;
    background-color: rgb(32, 72, 88);
    height: 522px;
    color: white;
}
ion-card {
    padding-top: 20px;
}
.footer {
    background-color: #111D12;
    color: rgb(255, 255, 255);
    height: 55px;
    text-align: center;
    
}
.dropdown{
    background-color: rgb(32, 72, 88);
    font-family: 'Roboto Regular';
    height:50px;
    font-size:30px;
    padding: 0px;
    margin: 0px;

}
.radio-icon {
    display: none;
    }
    .alert-radio-inner,
    .alert-radio-icon,
    .alert-radio-label {
            display: none;
    }

.select{
    color: white;
    background-color: --ion-color-light;
}

.md{

    --ion-text-color:white;
    --ion-select-backgroung-color:--ion-color-light-tint;
    

  //  

}
.dropbtn {
    background-color:  rgb(32, 72, 88);
    color: white;
    //padding: 16px;
    font-size: 40px;
    border: none;
    cursor: pointer;
    margin: 0px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    text-size-adjust: 40px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    //filter: blur(40px);
  }
  
  .dropdown-content a:hover {background-color:  rgb(32, 72, 88)}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:  rgb(32, 72, 88);
  }