<div class="home-page">
    <div class="navbar">
        <ion-header>
          <ion-row>
            <ion-col size="12" size-xs>
              <div>
                <ion-icon name="menu" color="light"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="12" size-xs>
              <div>
               <ion-icon name="ios-arrow-back" color="light"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="12" size-xs>
              <div>
                <ion-text color="light">Movies</ion-text>
              </div>
            </ion-col>
            <ion-col size="12" size-xs>
              <div>
                <ion-icon name="logo-playstation" color="light"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="12" size-xs>
              <div>
               <ion-datetime displayFormat="HH:mm" min="1997" max="2019" value="date"></ion-datetime>
              </div>
            </ion-col>
          </ion-row>
      </ion-header>
  </div>
</div>
<ion-content>
<p>{{title}}</p>
</ion-content>

