$primary-color: #cf810c;
$bg-color: #CCFFFF;

ion-header{
--ion-background-color:#111D12;
font-size: 28px;
}
ion-title{
color: white;
}
.card-color {
background-color: gray;
padding: 0%;
margin: 0%;
height: 200px;
}
.image{
  height: 185px;
  width: 270px;
}
.md {
  color: white;
}